<!DOCTYPE html>
<html>
<head>
    <title>About Project</title>
    <link rel="stylesheet"
    href="{{ url_for('static',filename='style.css') }}">
</head>

<body>

<nav>
<a href="/">Home</a>
<a href="/about">About</a>
</nav>

<h1>🎬 About Our Project</h1>

<div class="card">
<h2>AI Movie Recommendation System</h2>

<p>
This project uses Machine Learning, NLP and AI techniques
to recommend movies based on user preferences.
</p>

<p>
Technologies Used:
</p>

<ul>
<li>Python</li>
<li>Flask</li>
<li>TF-IDF</li>
<li>Cosine Similarity</li>
<li>NLP</li>
</ul>

</div>

</body>
</html>
